<section class="vh-100" style="background-image: url('/assets/images/login-bg.jpg'); background-size: cover; background-position: center;">
	<div class="container py-5 h-100">
	  <div class="row d-flex justify-content-center align-items-center h-100">
		<div class="col col-xl-8">
		  <div class="card" style="border-radius: 1rem; background-color: rgba(255, 255, 255, 0.8);">
			<div class="row g-0">
			  <div class="col-md-12 col-lg-12">
				<div class="card-body p-4 p-lg-5 text-black text-center">
  
				  <form action="/auth/login" method="POST">
  
					<div class="d-flex align-items-center mb-3 pb-1">
					  <i class="fas fa-user fa-2x me-3" style="color: blue;"></i>
					  <span class="h1 fw-bold mb-0"><span style="color: #1082d8;">SHARE</span> <span style="color: purple;">PLATE</span></span>
					</div>
  
					<h5 class="fw-bold mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
  
					<div class="form-outline mb-3" style="width: 70%; margin: 0 auto;">
					  <input type="email" name="email" id="form2Example17" class="form-control form-control-lg" style="width: 100%; border-radius: 20px;" placeholder="Email address" />
					  <label class="form-label" for="form2Example17">Email address</label>
					</div>
  
					<div class="form-outline mb-3" style="width: 70%; margin: 0 auto;">
					  <input type="password" name="password" id="form2Example27" class="form-control form-control-lg" style="width: 100%; border-radius: 20px;" placeholder="Password" />
					  <label class="form-label" for="form2Example17">Password</label>
					</div>
  
					<div class="pt-1 mb-4">
					  <button class="btn btn-dark btn-lg btn-block" type="submit" style="background-color: blue; border-radius: 20px;">Login</button>
					</div>
  					<p class="mb-5 pb-lg-2">Don't have an account? <a href="/auth/signup">Register here</a></p>
					<a href="#!" class="small text-muted">Terms of use.</a>
					<a href="#!" class="small text-muted">Privacy policy</a>
				  </form>
  
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </section>
  