/* Add a stylish font */
body {
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* Page Header Styling with gradient background */
.page-header {
    background: linear-gradient(135deg, #007BFF, #142ce1);
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.page-header h5 {
    margin: 0;
    font-size: 1.8rem;
}

/* Donation Details Styling */
.donation-details {
    border: 1px solid #ccc;
    margin: 3% auto;
    padding: 4%;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    min-width: 400px;
    background: rgba(255, 255, 255, 0.8); /* Add a semi-transparent white background */
}

.donation-details .mb-2 {
    margin-bottom: 20px;
}

.donation-details span {
    font-weight: bold;
}

/* Status Styles */
.status-pending {
    color: #FFA500; /* Orange color for "Pending" status */
}

.status-accepted {
    color: #008000; /* Green color for "Accepted" status */
}

.status-rejected {
    color: #FF0000; /* Red color for "Rejected" status */
}

.donation-details .btn {
    width: 75%;
    display: block;
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
}

/* Responsive Styling */
@media (max-width: 768px) {
    .page-header {
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
    }

    .page-header h5 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .donation-details {
        width: 90%;
        margin: 5% auto;
    }
}
